<div class="form-content">
<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :cliente_id, 'Cliente' %>
    <%= f.select("cliente_id", Cliente.all.collect {|c| [ c.cpf, c.id ] }, { include_blank: true }, autofocus: true)%>
  </div>
  
  <div class="field">
    <%= f.fields_for :order_products do |o| %>
        <%= render partial: "order_products_fields", locals: { f: o} %>
    <% end %>

    <div class="field">
      <%= link_to_add_association('[Adicionar Produto]', f, :order_products, partial: 'order_products_fields') %><br/>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit 'Gerar Comanda' %>
  </div>
<% end %>
<%unless cliente_signed_in?%>
  <%= link_to 'Voltar', orders_path, class: 'btn' %>
<%else%>
  <%= link_to 'Voltar', add_item_path(current_cliente), class: 'btn'%>
<%end%>
</div>
