<h1 class="h1-new">Pedidos</h1>
<form class="form-content">
    <% @client.orders.each do |o| %>
      <%if o.status == 'active' %>
        <% x = (o.id + 2) * 2 %>
        <%= "Número da comanda #{x}" %><%= Date.current.month%><%= Date.current.day%>
        <br> 
        <%= "Produtos: #{o.products.pluck(:name).to_s}" %>
        <br>
        <br>
        <%= link_to 'Adicionar produto', edit_order_path(o), class: 'btn'%>
        <%= link_to 'Finalizar', '#', class: 'btn'%>
        <br>
        <br>
        <hr>
      <%end%>
    <%end%>
    <br>
    <%= link_to 'Página Principal', root_path, class: 'btn' %>
</form>