<p id="notice"><%= notice %></p>

<h1 class="h1-new">Pedidos</h1>
<form class="form-content">
<table>
  <thead>
    <tr>
      <th class="th-index">Status</th>
      <th class="th-index space-c">Produto</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td class="space"><%= order.products.pluck(:name).to_sentence %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Pedido', new_order_path, class:'btn' %>
<%= link_to 'Página Principal ', root_path, class:'btn' %>

</form>