<p id="notice"><%= notice %></p>

<form class="form-content show">
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
<strong>Quantidade:</strong>
  <%= @order.products.pluck(:quantity).to_sentence %>
</p>

<strong>Product:</strong>
  <%= @order.products.pluck(:name).to_sentence %>
</p>

<%= link_to 'Edit', edit_order_path(@order), class:'btn' %>
<%= link_to 'Back', orders_path, class:'btn' %>
</form>