<form class="form-content show">
  <p>
    <strong>Status:</strong>
    <%= @order.status_i18n %>
  </p>

  <% @order.order_products.each do |o| %>
    <% o.quantity.to_i %>
  <% end %>
  <p>
  <% z = 0 %>
  <strong>Product:</strong>
    <% @order.order_products.each do |p| %>
      <br>
      <% x = p.quantity %>
      <%= p.quantity %>x 
      <%= p.product.name %>
      <%= "---- #{humanized_money_with_symbol(p.product.price)} un" %>
      <% y = p.product.price %>
      <% z = z + (x * y) %>
    <% end %>
    <br> 
    <br>
    <%= "Total: R$ #{z}" %>
  </p>


  <%unless cliente_signed_in?%>
    <%= "Total: " %>
    <br>
    <br>
    <br>
    <%= link_to 'Encerrar', close_path(@order), class: 'btn' %>
    <%= link_to 'Editar pedido', edit_order_path(@order), class:'btn' %>
    <%= link_to 'Voltar', orders_path, class: 'btn' %>
  <%else%>
    <%= link_to 'Editar pedido', edit_order_path(@order), class:'btn' %>
    <%= link_to 'Voltar', add_item_path(current_cliente), class: 'btn'%>
  <%end%>
</form>