<p id="notice"><%= notice %></p>

<form class="form-content show">
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
<strong>Quantidade:</strong>
  <%= @order.products.pluck(:quantity).to_sentence %>
</p>

<strong>Product:</strong>
  <%= @order.products.pluck(:name).to_sentence %>
</p>

<%= link_to 'Editar pedido', edit_order_path(@order), class:'btn' %>

<%unless cliente_signed_in?%>
  <%= link_to 'Voltar', orders_path, class: 'btn' %>
<%else%>
  <%= link_to 'Voltar', add_item_path(current_cliente), class: 'btn'%>
<%end%>

</form>