<p id="notice"><%= notice %></p>

<form class="form-content show">
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<% @order.order_products.each do |o| %>
  <%= o.quantity.to_i %>
<% end %>

<p>
<strong>Product:</strong>
  <% @order.products.each do |p| %>
    <%= p.name %>
    <%= humanized_money_with_symbol(p.price) %> ||
  <% end %>
</p>

<%= link_to 'Editar pedido', edit_order_path(@order), class:'btn' %>

<%unless cliente_signed_in?%>
  <%= link_to 'Encerrar', close_path(@order), class: 'btn' %>
  <%= link_to 'Voltar', orders_path, class: 'btn' %>
<%else%>
  <%= link_to 'Voltar', add_item_path(current_cliente), class: 'btn'%>
<%end%>

</form>