<p id="notice"><%= notice %></p>

<form class="form-content show minium">
  <p>
    <strong>Produto:</strong>
    <%= @product.name %>
  </p>
    <strong>Preço:</strong>
    <%= humanized_money_with_symbol(@product.price) %>
  </p>

  <%= link_to 'Editar', edit_product_path(@product), class: "btn" %>
  <%= link_to 'Voltar', products_path, class: "btn" %>
</form>